<%= image_tag "128.jpg", class: "avatar" %>
<h1>
  <%= shop.name %>
</h1>
<h2>
  @<%= shop.shopname %>
</h2>
<div class="shop_descritpion">
  <%= shop.description %>
</div>
<div class="shop_info">
  <%= simple_format(shop.info) %>
</div>
