<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Hallakl", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Accueil", root_path %></li>
          <li><%= link_to "Aide", help_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Utilisateurs", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Compte <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Ma page", user_path(current_user) %></li>
                <li><%= link_to "Options", edit_user_registration_path(current_user) %></li>
                <% if current_user.has_shop? %>
                  <%= link_to "Mon Magasin", shop_path(current_user.shops.first) %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Déconnection", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Connection", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
